################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GLAPS/FrontEnd/FrontEnd/glapsdb.sqlite
*.pyc
*.pyc
GLAPS/FrontEnd/FrontEnd/FrontEnd/__pycache__/views.cpython-37.pyc
*.pyc
