{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <center>
        <h1>GLAPS</h1>
        <p class="lead"><center>Geographic Location Attribute Predictor System</center></p>
        <p><a href="{{ url_for('register') }}" class="btn btn-primary btn-large">Register &raquo;</a></p>
        <p><a href="{{ url_for('login') }}" class="btn btn-primary btn-large">Login &raquo;</a></p>
    </center>
</div>

{% endblock %}

<!--#region Back up Code that works  -->
<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>-->
<!--#endregion -->
