<head>
    <title>Account</title>
</head>
{% extends "layout.html" %}
{% block content %}
<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3 boxStyle" style="padding-right: 0px!important;padding-left: 0px!important;">
        <div class="panel-body" style="padding-right: 4px!important;padding-left: 4px!important;">
            <form method="POST" action="{{ url_for('account', account_name=g.user) }}" accept-charset="UTF-8">

                <div class="span2">
                    <img src="../static/images/userIcon.png" class="img-circle">
                    <p>
                        User set Avatar is unavailable at this time.
                    </p>
                </div>
                <div class="span8">
                    <h3>{{ g.user['username'] }}</h3>
                    <h6>{{ g.user['email'] }}</h6>
                </div>
                <div class="span2">
                    <div class="form-group">
                        <p>
                            This function is not implemented at this time.
                        </p>
                        <!--Submit Button-->
                        <input type=submit value=Delete>
                        <!--end button-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}