<head>
    <title>Account</title>
</head>
{% extends "layout.html" %}
{% block content %}
<br />
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3 boxStyle" style="padding-right: 0px!important;padding-left: 0px!important;">
        <div class="panel-body" style="padding-right: 4px!important;padding-left: 4px!important;">
            <div class="span2">
                <img src="../static/images/userIcon.png" class="img-circle">
                <p>
                    User set Avatar is unavailable at this time.
                </p>
            </div>
            <div class="span8">
                <h3>{{ g.user['username'] }}</h3>
                <h6>{{ g.user['email'] }}</h6>
                <!--<h6>Ubication: Colombia</h6>
                <h6>Old: 1 Year</h6>
                <h6><a href="#">More... </a></h6>-->
            </div>
            <div class="span2">
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                        <p>
                            This function is not implemented at this time.
                        </p>
                        <span class="icon-cog icon-white"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li><button href="#"><span class="icon-wrench"></span> Modify</a></li>-->
                        <li><button href="#"><span class="icon-trash"></span> Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--This page is for show the forecast data from the GLAPS system-->
{% endblock %}