{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    2201 Hull Rd<br />
    Fayetteville, NC 28303<br />
    <abbr title="Phone">P:</abbr>
    910.678.8400
</address>

<address>
    <strong>WebMaster:</strong> <br />
    Brian Schweikart: <a href="mailto:Support@example.com">Support@example.com</a><br />
    Jesse Watts: <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>GLAPS Information:</strong> <br />
    Gaberiela Canjura: <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    Mallory Milstead: <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}