{% extends "layout.html" %}

{% block content %}
<br />

<section id="GLAPS">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Home Value Predictor<span>.</span></h1>

            <hr />
        </div>
    </div> <!-- end section-head -->

    <div class="row">

        <div id="GLAPS" class="six columns tab-whole left">

            <!-- form -->
            <form name="GLAPS" id="GLAPS" method="post" action="">
                <fieldset>

                    <div class="container">
                        {% for key in StateCounties %}
                        <div class="accordion" id="accordion_{{loop.index}}">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_{{ loop.index }}" aria-expanded="false" aria-controls="collapse_{{ loop.index }}">
                                            {{key}}
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse_{{ loop.index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        HERE ARE THE COUNTIES
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div>
                        <input name="HomeVal" type="text" id="HomeVal" placeholder="Current Home Value" value="" />
                    </div>
                    <div>
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="icon-ok"></i>Your results are: {{message}}<br />
            </div>
        </div>
    </div> <!-- end row -->
</section>

<!--This page is for show the forecast data from the GLAPS system-->
{% endblock %}