<!--Map with Geocoding uses google maps API to provide a map then grabs geocode location and sets the county and state to our county value-->
<head>
    <title>Geocoding Service</title>
</head>
{% extends "layout.html" %}
{% block content %}
<br />
<br />
<head>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/content/geocoding/geocoding.css">
    <!-- script
    ================================================== -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&library=places&callback=initMap"
            async defer></script>
</head>
<body>
    <div id="floating-panel">
        <input id="address" type="text" value="Fayetteville, NC">
        <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
           var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 35.052666, lng: -78.878357 },
                zoom: 8
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('submit').addEventListener('click', function () {
                geocodeAddress(geocoder, map);
            });
        }

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });

                    //gets county and state from JSON response provided from google maps api
                    var loc1 = results[0];
                    var county, state;
                    $.each(loc1, function (k1, v1) {
                        if (k1 == "address_components") {
                            for (var i = 0; i < v1.length; i++) {
                                for (k2 in v1[i]) {
                                    if (k2 == "types") {
                                        var types = v1[i][k2];
                                        if (types[0] == "administrative_area_level_2") {
                                            county = v1[i].long_name;
                                            //alert ("county: " + county);
                                        }
                                        if (types[0] == "administrative_area_level_1") {
                                            state = v1[i].long_name;
                                            //alert ("state: " + state);
                                        }
                                    }

                                }

                            }

                        }

                    });

                    //displays an error if the county and state are not provided from user search
                    if (county == "" || county == "undefined" || county == null) {
                        alert ("Could not locate County. Please enter an exact street address.");
                    }

                    //formats to the format required by the glaps machine learning api
                    var county = String(county) + ", " + String(state)

                    //sets value to the county variable
                    document.getElementById('County').value = county;
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
</body>

<section id="GLAPS">

    <div class="row section-head">
        <div class="twelve columns">

            <h1>{{title}}<span>.</span></h1>
            <h2>{{message}}</h2>
            <hr />
        </div>
    </div> <!-- end section-head -->

    <div class="row">

        <div id="GLAPS" class="six columns tab-whole left">

            <!-- form -->
            <form name="GLAPS" id="GLAPS" method="post" action="">
                <fieldset>
                    <div>
                        <h3>{{countyError}}</h3>
                        <input name="County" type="text" readonly id="County" placeholder="County" value="" />
                    </div>
                    <div>
                        <h3>{{valueError}}</h3>
                        <script>
                            //input validation for the HomeVal box only allows numbers
                            //automatically erases anything other than a number
                            function isNumber(input) {
                                var regex = /[^0-9]/gi;
                                input.value = input.value.replace(regex, '');
                            }
                        </script>
                        <input name="HomeVal" type="text" id="HomeVal" placeholder="Current Home Value" value="" onkeyup="isNumber(this)"/>
                    </div>
                    <div>
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form> <!-- Form End -->
            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="icon-ok"></i>Your results are: {{message}}<br />
            </div>
        </div>
    </div> <!-- end row -->
</section>

<!--This page is for show the forecast data from the GLAPS system-->
{% endblock %}
