{% extends "layout.html" %}

{% block content %}
<br />

<section id="GLAPS">

    <div class="row section-head">

        <div class="twelve columns">

            <h1>Home Value Predictor<span>.</span></h1>

            <hr />
        </div>
    </div> <!-- end section-head -->

    <div class="row">

        <div id="GLAPS" class="six columns tab-whole left">

            <!-- form -->
            <form name="GLAPS" id="GLAPS" method="post" action="">
                <fieldset>

                    <div class="group">
                        <input name="County" type="text" id="countyState" placeholder="County, State" value="" minLength="2" required />
                    </div>
                    <div>
                        <input name="HomeVal" type="text" id="HomeVal" placeholder="Current Home Value" value="" />
                    </div>
                    <div>
                        <button class="submitform">Submit</button>
                        <div id="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form> <!-- Form End -->
            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="icon-ok"></i>Your message was sent, thank you!<br />
            </div>
        </div>
    </div> <!-- end row -->
</section>

<!--This page is for show the forecast data from the GLAPS system-->
{% endblock %}